#navbar {
    position: fixed;
    border-bottom: #FF43B4 solid 2px;
}

.navbar-name {
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
}

.left-100 {
  left: 100%;
}

.left-50 {
  left: 50%;
}

#menu {
  transition: .2s;
}

#menu a {
    color: #FF43B4;
}

/* #menu-btn {
    display: none;
} */

#menu-btn img {
    width: 3.5rem;
    height: auto;
}

.menu-elements li a {
    border-style: dotted;
    border-width: thin;
    padding: 1.5%;
    display: block;
    text-decoration: none;
}

.menu-elements li a:hover{
    background-color: #69f8c4;
    color: #4233ff;
}

.show {
  display: block;
}

.project {
    width: 47%;
}

footer {
    border-top: #FF43B4 solid 2px;
}

/*  for ipad and tablets   */
@media only screen and (max-width: 800px) {

    /* #menu-btn {
        display: table-cell;
    } */

    .project {
        width: 100%;
    }

}

/*  for iphone and smartphones   */

@media only screen and (max-width: 500px) {
    #projectName {
        font-size: 13vw;
    }
    .menu-elements li a {
        padding: 2%;
    }

    #menu {
        margin-top: 3.7rem;
    }

    #menu a {
        border-width: 1px;
        border-color: #ff70c7;
    }

    /* #menu-btn {
        display: table-cell;
    } */

    .project {
        width: 100%;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media only screen and (min-width: 1600px) {

    .container {
        padding-left: 28%;
        padding-right: 28%;
    }

}
